*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    display:flex;
    min-height:100vh;
    background:#ecd6a6;
}

.sidebar{
    width:208px;
    min-height:100vh;
    background:#fff3d8;
    border-right:1px solid #ead7ae;
    display:flex;
    flex-direction:column;
    position:fixed;
    left:0;
    top:0;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    padding:18px 16px;
}

.logo img{
    width:43px;
    height:43px;
    object-fit:contain;
    display:block;
}

.logo-text{
    display:flex;
    flex-direction:column;
}

.logo-text h2{
    font-size:17px;
    color:#a85228;
    white-space:nowrap;
    margin:0;
}

.logo-text p{
    font-size:10px;
    color:#714c3b;
    margin:2px 0 0;
}

.menu{
    flex:1;
    margin-top:15px;
}

.menu a{
    display:flex;
    align-items:center;
    gap:14px;
    text-decoration:none;
    color:#603813;
    padding:12px 20px;
    transition:.3s;
    font-size:14px;
}

.menu a i{
    width:20px;
    text-align:center;
    font-size:17px;
}

.menu a:hover{
    background:#edd3af;
}

.menu a.ativo{
    background:#e8b783;
}

.sair{
    display:flex;
    align-items:center;
    gap:14px;
    text-decoration:none;
    color:#603813;
    padding:16px 20px;
    font-size:14px;
}

.sair i{
    width:20px;
    text-align:center;
    font-size:17px;
}

.sair:hover{
    background:#edd3af;
}

.conteudo{
    flex:1;
    margin-left:208px;
    min-height:100vh;
    background:#ecd6a6;
    padding:20px;
}