*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif
}

body{
    display:flex;
    background:#ecd6a6
}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:208px;
    height:100vh;
    background:#fff3d8;
    border-right:1px solid #ead7ae;
    z-index:1000
}

.logo{
    height:75px;
    display:flex;
    align-items:center;
    padding:10px 15px;
    gap:10px
}

.logo img{
    width:43px;
    height:43px;
    object-fit:contain
}

.logo-text h2{
    font-size:15px;
    color:#a85228;
    line-height:18px
}

.logo-text p{
    font-size:8px;
    color:#714c3b;
    margin-top:1px
}

.menu{
    display:flex;
    flex-direction:column;
    margin-top:7px
}

.menu a{
    height:39px;
    display:flex;
    align-items:center;
    gap:12px;
    padding:0 17px;
    text-decoration:none;
    color:#5d3a2d;
    font-size:11px;
    transition:.2s
}

.menu a i{
    width:18px;
    text-align:center;
    font-size:14px
}

.menu a:hover{
    background:#f7dfbd
}

.menu a.ativo{
    background:#eeb47e;
    color:#542c1f;
    font-weight:bold
}

.conteudo{
    margin-left:208px;
    width:calc(100% - 208px);
    min-height:100vh;
    background:#ecd6a6
}